{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Product Management</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h5 class="text-muted">Add Product Variation</h5>
            <hr>
        </div>
        <div class="d-none d-md-block col-md-6">
            <h5 class="text-muted">Product Variations</h5>
            <hr>
        </div>

    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_product_variation' product.id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}





                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0" href="{% url 'edit_product' product.id %}">Back to
                        Product</a>
                    <button class="btn btn-black rounded-0" type="submit">Add Product Variation</button>
                </div>

        </div>
        </form>

        <div class="col-12 col-md-6">

            <h5 class="text-muted d-md-none">Product Variations</h5>
            <hr class="d-md-none">

            {% if product.productvariations_set.all %}
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Catergory</th>
                        <th>Variation</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for var in product.productvariations_set.all %}
                    <tr>
                        <td>
                            {{ var.category|capfirst }}
                        </td>

                        <td>
                            {{ var.name|capfirst }}
                        </td>

                        <td>
                            <a class="text-danger" href="{% url 'delete_product_variation' var.id %}">Delete</a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No variations of this product found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}